.grid {
  background-color: #00000044;
  border: 1px solid black;
}

.logo {
  float: left;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-width: 280px;
}
